@import 'interfaces/authentication/styles.css';
@import 'interfaces/home/styles.css';
@import 'interfaces/game/styles.css';

@font-face {
    font-family: 'VarelaRound';
    src: url(../assets/fonts/VarelaRound.ttf);
}

::selection {
    color: bisque;
    background: rosybrown;
}

body {
    margin: 0;
}

span, input {
    font-family: VarelaRound, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}

input {
    outline: none;
    border: none;
}

#app {
    height: 100vh;
}

.modal {
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 40px;
}

#mask {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 10;
}

@media (max-width: 800px) {
    * {
        display: none;
    }
}