#authentication {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #5E4747;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#authentication #container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#authentication #login-button {
    cursor: pointer;
    background-color: bisque;
    padding: 18px 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#authentication #register-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px 30px;
    color: bisque;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
}

#authentication #login {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#authentication #login-container {
    background-color: bisque;
    width: 600px;
    height: 600px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

#authentication #username, #authentication #email, #authentication #password {
    gap: 10px;
    display: flex;
    flex-direction: column;
    color: #5E4747;
    font-size: 2em;
    font-weight: bold;
    align-items: center;
}

#authentication input {
    font-size: 1em;
    width: 320px;
    padding: 0 15px;
}

#authentication #login-button-final {
    cursor: pointer;
    background-color: #5E4747;
    color: white;
    font-size: 2.4em;
    padding: 10px 18px;
    border-radius: 22px;
}

#authentication #back-button {
    cursor: pointer;
    background-color: bisque;
    padding: 20px;
    font-size: 3em;
    border-radius: 30px;
    margin-right: 60px;
}

@media (max-width: 1000px) {
    #authentication #back-button {
        margin: 0;
    }
    #authentication #login {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 800px) {
    #authentication #login-container {
        width: 500px;
        height: 500px;
    }
    #authentication #back-button {
        padding: 16px;
        font-size: 2.2em;
    }
}

@media (max-width: 600px) {
    #authentication {
        font-size: 0.9em;
    }
    #authentication #login-container {
        width: 450px;
        height: 450px;
    }
    #authentication input {
        width: 300px;
    }
}

@media (max-width: 500px) {
    #authentication {
        font-size: 0.8em;
    }
    #authentication #login-container {
        width: 400px;
    }
    #authentication #login-button {
        padding: 12.8px 32px;
    }
    #authentication input {
        width: 280px;
    }
}

@media (max-width: 450px) {
    #authentication input {
        width: 260px;
    }
    #authentication #login-container {
        width: 350px;
    }
}

@media (max-width: 400px) {
    #authentication input {
        width: 240px;
    }
    #authentication #login-container {
        width: 320px;
    }
}