#home {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #5E4747;
    height: 100vh;
}

#content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#profile {
    width: 320px;
    padding: 20px;
    background-color: bisque;
}

#avatar-container {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.1);
}

#inventory {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
}

#inventory-title {
    display: flex;
    padding: 12px 0;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#inventory-items {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
}

#inventory-items > div {
    display: flex;
    gap: 10px;
}

#other {
    visibility: hidden;
    width: 320px;
    background-color: rgba(0, 0, 0, 0.1);
}

#games-container {
    margin-top: 150px;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#games-container > :first-child {
    overflow: hidden;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    min-height: 120px;
    width: 100%;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create-game-cta {
    cursor: pointer;
    width: fit-content;
    font-size: 1.6em;
    padding: 20px;
    border-radius: 20px;
    background-color: bisque;
}

#create-game-cta:hover {
    filter: brightness(0.9);
}

#create-game-cta:active {
    transform: translateY(3px);
}

#games-container > :last-child {
    background-color: bisque;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    grid-gap: 20px;
    height: 100%;
}

.live-game {
    border-radius: 20px;
    aspect-ratio: 3/2;
    background-color: rosybrown;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.name {
    font-size: 1.6em;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.teams {
    display: flex;
    gap: 20px;
}

.teams > div {
    padding: 12px 0;
    flex: 1;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teams > :first-child {
    background-color: #BEF3EB;
}

.teams > :last-child {
    background-color: salmon;
}

#menu {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 40px;
}

#home #login-button {
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    background-color: palegoldenrod;
    font-size: 2em;
}

#login-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-modal > :first-child {
    margin-top: 100px;
}

#username-container, #password-container {
    display: flex;
    flex-direction: column;
}

#username-input, #password-input {
    font-size: 2em;
    width: 300px;
    padding: 0 15px;
}

#password-container {
    margin-top: 30px;
}

#login-cta {
    margin-top: 50px
}

#home #avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#avatar-container #username {
    font-size: 3em;
    padding: 4px 0 0;
}

#avatar-container #level {
    font-size: 1.3em;
}

#home #avatar {
    flex: 1;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home #avatar img {
    height: 100%;
}

#logout-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#buy-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#buy {
    margin-top: 100px;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
    background-color: palegoldenrod;
}

#buy > div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#buy > div > :last-child {
    font-size: 0.7em;
}