#home {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #5E4747;
    height: 100vh;
    overflow: hidden;
}

#home #content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    height: 560px;
}

#profile {
    width: 320px;
    padding: 20px;
    background-color: bisque;
}

#avatar-container {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.1);
}

#inventory {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
}

#inventory-title {
    display: flex;
    padding: 12px 0;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#inventory-items {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
}

#inventory-items > div {
    display: flex;
    gap: 10px;
}

#friend-list-component {
    width: 320px;
    padding: 20px;
    background-color: bisque;
}

#games-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#games-container > :first-child {
    overflow: hidden;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    min-height: 120px;
    width: 100%;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-cta {
    cursor: pointer;
    width: fit-content;
    font-size: 1.6em;
    padding: 20px;
    border-radius: 20px;
    background-color: bisque;
}

#options-bar {
    display: flex;
    gap: 30px;
}

.game-cta:hover {
    filter: brightness(0.9);
}

.game-cta:active {
    transform: translateY(3px);
}

#games-container > :last-child {
    background-color: bisque;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    grid-gap: 20px;
    height: 100%;
}

.live-game {
    border-radius: 20px;
    aspect-ratio: 3/2;
    background-color: rosybrown;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.live-game .time {
    text-align: center;
}

.name {
    font-size: 1.6em;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.teams {
    display: flex;
    gap: 20px;
}

.teams > div {
    padding: 12px 0;
    flex: 1;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teams > :first-child {
    background-color: #BEF3EB;
}

.teams > :last-child {
    background-color: salmon;
}

#menu {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 40px;
}

#home #login-button {
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    background-color: palegoldenrod;
    font-size: 2em;
}

#login-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-modal > :first-child {
    margin-top: 100px;
}

#username-container, #password-container {
    display: flex;
    flex-direction: column;
}

#username-input, #password-input {
    font-size: 2em;
    width: 300px;
    padding: 0 15px;
}

#password-container {
    margin-top: 30px;
}

#login-cta {
    margin-top: 50px
}

#home #avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#avatar-container #username {
    font-size: 3em;
    padding: 4px 0 0;
}

#avatar-container #level {
    font-size: 1.3em;
}

#home #avatar {
    flex: 1;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home #avatar img {
    height: 100%;
}

#logout-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#buy-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#buy {
    margin-top: 100px;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
    background-color: palegoldenrod;
}

#buy > div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#buy > div > :last-child {
    font-size: 0.7em;
}

#friend-list-component > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

#friend-list-component #container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #5E4747;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

#friend-list-component #list {
    scrollbar-color: #5E4747 bisque;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    flex: 1;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.friend-container {
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    gap: 8px;
    background-color: rosybrown;
    align-items: center;
    padding: 8px;
}

.friend-container:hover {
    filter: brightness(0.9);
}

.friend-container:active {
    filter: brightness(0.8);
}

.username-component {
    display: flex;
    align-items: center;
    gap: 12px;
}

.level-container {
    font-size: 1.5em;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: palegoldenrod;
    border: #5E4747 4px solid;
}

.username-text {
    font-size: 1.8em;
}

#avatar-container .username-component {
    margin-top: 12px;
    transform: scale(1.1);
}

.user-status {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

#profile-modal {
    display: flex;
    flex-direction: column;
    border: #5E4747 16px solid;
}

#profile-modal #top-header {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    gap: 20px;
}

#xp-bar-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#bar {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    width: 360px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

#bar #filled-bar {
    background-color: #5E4747;
    height: 100%;
    border-radius: 10px;
}

#profile-modal #stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#profile-modal #stats > div {
    display: flex;
    padding: 0 30px;
    font-size: 1.2em;
    flex-direction: column;
}

#profile-modal #stats > div > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#badges {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 1em;
    display: flex;
    background-color: rgba(94, 71, 71, 0.3);
    border-radius: 30px;
    padding: 2px 12px;
    width: fit-content;
}

#home #game-ctas {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}

#home #middle {
    display: flex;
    flex-direction: column;
    gap: 80px;;
}