#game {
    display: flex;
    height: inherit;
}

.team {
    background-color: whitesmoke;
    margin-top: 100px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team .title {
    margin: 20px 0;
    font-size: 1.4em;
}

.team .list {
    flex: 1;
    width: 100%;
}


.team .join-cta {
    margin: 20px 0;
    font-size: 1.1em;
}

#left-panel {
    background-color: bisque;
    width: 350px;
}

#middle-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#board {
    margin: 50px 100px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 6px;
    height: fit-content;
    min-width: 0;
}

.card {
    min-width: 0;
    overflow: hidden;
    background-color: grey;
    aspect-ratio: 3/2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 20px;
}

#bottom-board {
    background-color: beige;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#bottom-board #clue-count-container {
    width: 50px;
    height: 50px;
    background-color: white;
}

#bottom-board #clue-name-input {
    width: 450px;
    height: 50px;
    font-size: 2em;
    padding: 0 10px;
}

#bottom-board #give-clue-cta {
    cursor: pointer;
    padding: 20px 40px;
    background-color: white;
    font-size: 1.4em;
    font-weight: bold;
}

#right-panel {
    background-color: royalblue;
    width: 350px;
}