#game {
    display: flex;
    height: inherit;
}

.team {
    background-color: whitesmoke;
    margin-top: 100px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-title {
    margin: 20px 0;
    font-size: 1.4em;
}

.list {
    flex: 1;
    width: 100%;
}

.join-cta {
    margin: 20px 0;
    font-size: 1.1em;
}

#left-panel {
    background-color: #BEF3EB;
    width: 350px;
}

#middle-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    background-color: bisque;
}

#board {
    margin: 50px 100px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 6px;
    height: fit-content;
    min-width: 0;
}

.card {
    min-width: 0;
    overflow: hidden;
    background-color: rosybrown;
    aspect-ratio: 3/2;
    border-radius: 20px;
    display: flex;
    position: relative;
}

.card > span {
    font-size: 1.8em;
    font-weight: bold;
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    width: 100%;
    background: white;
    text-align: center;
    padding-top: 5px;
}

#bottom-board {
    background-color: beige;
    height: 100%;
    display: flex;
    justify-content: center;
}

#clue-bar {
    display: flex;
    position: relative;
    gap: 40px;
}

#clue-count-selector {
    padding: 0 10px;
    height: 50px;
    background-color: bisque;
    border-radius: 20px;
    position: absolute;
    margin-bottom: 20px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.number-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
    border-radius: 14px;
    aspect-ratio: 1;
    width: 50px;
    flex: 1;
}

#clue-count-selector .number {
    font-size: 2em;
    font-weight: bold;
}

#clue-count-container {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

#clue-count-text {
    font-size: 2em;
    font-weight: bold;
}

#clue-name-input {
    border-radius: 14px;
    font-weight: bold;
    width: 450px;
    height: 50px;
    font-size: 2em;
    padding: 0 10px;
}

#give-clue-cta {
    height: fit-content;
    border-radius: 40px;
    cursor: pointer;
    padding: 20px 40px;
    background-color: white;
    font-size: 1.4em;
    font-weight: bold;
}

#right-panel {
    background-color: salmon;
    width: 350px;
}