#game {
    display: flex;
    flex-direction: column;
    height: inherit;
}

#game #middle-panel #board-wrapper {
    padding: 0 80px 50px;
}

#game #board-container {
    display: flex;
    justify-content: center;
}

#game #content {
    display: flex;
    height: inherit;
    flex: 1;
}

#middle-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    background-color: bisque;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 6px;
    width: 900px;
    aspect-ratio: 3/2;
}

.card {
    overflow: hidden;
    background-color: rosybrown;
    border-color: #7A5C5C;
    border-width: 8px;
    border-style: solid;
    aspect-ratio: 3/2;
    border-radius: 20px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.card.reversed > * {
    display: none;
}

.card.default {
    background-color: rosybrown;
    border-color: #7A5C5C;
}

.card.default.reversed {
    background-color: #7A5C5C;
    border-color: rosybrown;
}

.card.first-team {
    background-color: #BEF3EB;
    border-color: #88ADA8;
}

.card.first-team.reversed {
    background-color: #88ADA8;
    border-color: #BEF3EB;
}

.card.second-team {
    background-color: salmon;
    border-color: #B85F55;
}

.card.second-team.reversed {
    background-color: #B85F55;
    border-color: salmon;
}

.card.death {
    background-color: lightslategray;
    border-color: #4E5964;
}

.card.death.reversed {
    background-color: #4E5964;
    border-color: lightslategray;
}

.card.selected {
    border-color: #473535;
}

.card > span {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    letter-spacing: -1px;
    width: 100%;
    background: white;
    text-align: center;
    padding-top: 5px;
}

#bottom-board {
    min-height: 116px;
    background-color: beige;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game .team-0 {
    font-weight: bold;
    color: #88ADA8;
}

#game .team-1 {
    font-weight: bold;
    color: #B85F55;
}

#clue-bar {
    display: flex;
    position: relative;
    gap: 40px;
    align-items: center;
}

#clue-word-container {
    gap: 20px;
    display: flex;
    background-color: bisque;
    border-radius: 20px;
    border: 10px solid rosybrown;
    font-size: 3em;
    padding: 10px 40px;
    font-weight: bold;
}

#clue-word-container > :first-child {
    user-select: all;
}

#clue-count-selector {
    padding: 10px 30px;
    background-color: bisque;
    border-radius: 20px;
    position: absolute;
    margin-bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    top: -90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.number-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
    border-radius: 14px;
    aspect-ratio: 1;
    width: 50px;
    flex: 1;
}

#clue-count-selector .number {
    font-size: 2em;
    font-weight: bold;
}

#clue-count-container {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: bisque;
    border: 7px solid rosybrown;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

#clue-count-container.disabled {
    cursor: default;
    filter: brightness(0.9);
}

#clue-count-text {
    font-size: 2em;
    font-weight: bold;
}

#clue-word-input {
    border-radius: 14px;
    font-weight: bold;
    width: 450px;
    height: 50px;
    font-size: 2em;
    padding: 0 15px;
    background-color: bisque;
    border: 7px solid rosybrown;
}

.cta {
    height: fit-content;
    border-radius: 40px;
    cursor: pointer;
    padding: 10px 40px;
    background-color: greenyellow;
    border: 5px solid #7CB822;
    font-size: 1.8em;
    font-weight: bold;
}

.cta:hover {
    filter: brightness(0.9);
}

.cta:active {
    transform: translateY(3px);
}

#left, #right {
    display: flex;
    flex-direction: column;
}

#left-panel, #right-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#right, #left {
    width: 350px;
}

#left-panel {
    background-color: #BEF3EB;
}

#right-panel {
    background-color: salmon;
}

.up-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-username-modal {
    border: #473535 16px solid;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#new-username-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#new-username-modal > span {
    font-size: 1.5em;
    /* font-weight: bold; */
}

#new-username-input {
    height: fit-content;
    width: 100%;
    font-size: 2.3em;
    padding: 0 15px;
}

#change-username-cta {
    cursor: pointer;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    font-weight: bold;
    border-radius: 40px;
    background-color: greenyellow;
}

#change-username-cta:hover {
    filter: brightness(0.9);
}

#change-username-cta:active {
    transform: translateY(3px);
}

.team {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-panel .team {
    background-color: #88ADA8;
}

#right-panel .team {
    background-color: #B85F55;
}

.team-title {
    background: white;
    border-radius: 10px;
    padding: 7px;
    margin: 20px 0;
    font-size: 2em;
    font-weight: bold;
}

.list-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-container:first-child {
    margin-top: 20px;
}

.team-subtitle {
    font-size: 1.6em;
    font-weight: bold;
}

.list {
    flex: 1;
    text-align: center;
}

.list > :not(.team-subtitle) {
    display: flex;
    flex-direction: column;
}

#game .username-component {
    margin-left: 10px;
    width: fit-content;
}

#game #blur-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    filter: brightness(0.9);
}

#game #end-component {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    border-radius: 40px;
    width: 600px;
    height: 600px;
    gap: 20px;
    border: #473535 16px solid;
}

#end-component #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#end-component #title {
    margin-top: 40px;
    font-size: 3.5em;
    font-weight: bold;
}

#end-component #scores {
    flex: 1;
    margin-top: 60px;
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#end-component #button {
    margin-bottom: 60px;
}

#settings-component {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    border: #473535 16px solid;
    border-radius: 40px;
    width: 600px;
    height: 440px;
    gap: 50px;
}

#settings-component .title {
    margin-top: 20px;
    font-size: 2.3em;
    font-weight: bold;
}

#settings-component #privacy {
    font-size: 1.5em;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#settings-component #privacy-title {
    font-size: 1em;
}

#settings-component #game-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#settings-component #game-name > :first-child {
    font-weight: bold;
    font-size: 1.5em;
}

#settings-component #game-name > :last-child {
    border-radius: 20px;
    padding: 0 15px;
    font-size: 2em;
    width: 200px;
}

#game #top-board {
    display: flex;
    justify-content: center;
    margin: 32px;
    flex: 1;
}

#game #top-right-panel, #top-left-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: bisque;
}

#game #game-status-component {
    font-size: 2em;
    background-color: white;
    padding: 16px 40px;
    border-radius: 20px;
}

.options {
    border-radius: 12px;
    padding: 5px 25px;
    background: rosybrown;
    display: flex;
    font-size: 2em;
    gap: 20px;
}

.options > span {
    text-shadow: #473535 2px 2px 0;
    cursor: pointer;
}

.mobile #game #content {
    flex-direction: column;
}

.mobile #game #bottom-panel {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.mobile #game #left, .mobile #game #right {
    width: 33vw;
}
@media (max-width: 1600px) {
    #game #bottom-board #clue-bar {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .mobile #game #bottom-board {
        height: 100px;
        min-height: unset;
    }
    .mobile #game #middle-panel #board-wrapper {
        padding: 0 10px 10px;
    }
    .mobile #game .card {
        border-width: 5px;
        border-radius: 14px;
    }
    .mobile .level-container {
        width: 26px;
        height: 26px;
    }
    .mobile #game #bottom-board #clue-bar {
        flex-direction: row;
        gap: 14px;
    }
    .mobile #clue-count-selector {
        padding: 6px 16px;
        top: -65px;
    }
    .mobile #clue-count-selector > div {
        border-radius: 8px;
        width: 30px;
    }
    .mobile #clue-word-input {
        border-width: 5px;
        width: 200px;
        height: 40px;
    }
    .mobile #clue-count-container {
        border-width: 5px;
        height: 40px;
        width: 40px;
    }
    .mobile #give-clue-cta {
        padding: 8px 30px;
    }
    .mobile #game {
        font-size: 0.71em;
    }
}

@media (max-width: 570px) {
    .team-title {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .mobile #game #bottom-board {
        height: 80px;
    }
    .mobile #game #middle-panel #board-wrapper {
        padding: 0 7px 7px;
    }
    .mobile #game .card {
        border-width: 4px;
        border-radius: 13px;
    }
    .mobile .level-container {
        width: 22px;
        height: 22px;
    }
    .mobile #game #bottom-board #clue-bar {
        gap: 12px;
    }
    .mobile #clue-count-selector {
        gap: 6px;
        padding: 5px 12px;
        top: -60px;
    }
    .mobile #clue-count-selector > div {
        border-radius: 8px;
        width: 30px;
    }
    #give-clue-cta {
        border-width: 4px;
    }
    .mobile #clue-word-input {
        width: 170px;
        height: 28px;
        border-width: 4px;
    }
    .mobile #clue-count-container {
        border-width: 4px;
        height: 28px;
        width: 28px;
    }
    .mobile #give-clue-cta {
        padding: 5px 22px;
    }
    .mobile #game {
        font-size: 0.58em;
    }
}

@media (max-width: 420px) {
    .mobile #game #bottom-board {
        height: 70px;
    }
    .mobile #game #middle-panel #board-wrapper {
        padding: 0 6px 6px;
    }
    .mobile #game .card {
        border-width: 4px;
        border-radius: 12px;
    }
    .mobile #game #board {
        grid-gap: 4px;
    }
    .mobile .level-container {
        width: 18px;
        height: 18px;
    }
    .mobile #game #bottom-board #clue-bar {
        gap: 10px;
    }
    .mobile #clue-count-selector {
        gap: 5px;
        margin-bottom: 0;
        top: -50px;
    }
    .mobile #clue-count-selector > div {
        border-radius: 7px;
        width: 28px;
    }
    #give-clue-cta {
        border-width: 4px;
    }
    .mobile #clue-word-input {
        width: 160px;
        height: 24px;
        border-width: 4px;
    }
    .mobile #clue-count-container {
        border-width: 4px;
        height: 24px;
        width: 24px;
    }
    .mobile #give-clue-cta {
        padding: 5px 22px;
    }
    .mobile #game {
        font-size: 0.5em;
    }
}

@media (max-width: 390px) {
    .mobile #game #game-status-component {
        font-size: 1.6em;
    }
    .mobile #game #bottom-board {
        height: 60px;
    }
    .mobile #game #middle-panel #board-wrapper {
        padding: 0 5px 5px;
    }
    .mobile #game .card {
        border-width: 3px;
        border-radius: 11px;
    }
    .mobile #game #bottom-board #clue-bar {
        gap: 10px;
    }
    .mobile #clue-count-selector {
        gap: 4px;
    }
    .mobile #clue-count-selector > div {
        border-radius: 7px;
        width: 26px;
    }
    #give-clue-cta {
        border-width: 3px;
    }
    .mobile #clue-word-input {
        width: 140px;
        height: 24px;
        border-width: 3px;
    }
    .mobile #clue-count-container {
        border-width: 3px;
        height: 24px;
        width: 24px;
    }
    .mobile #give-clue-cta {
        padding: 4px 10px;
    }
    .mobile #game {
        font-size: 0.5em;
    }
}

.mobile #game #middle-panel {
    flex: unset;
}

.mobile #game .team {
    height: 100%;
}

.mobile #game .team .list-container {
    min-height: 200px;
    height: unset;
}

.mobile #game #top-board {
    margin: 10px;
}

.mobile #game #game-status-component {
    padding: 8px 12px;
}

.mobile #game #left #left-panel, .mobile #game #right #right-panel {
    height: 100%;
}

.mobile #game #top-bar {
    display: flex;
}

.mobile #game #top-bar #top-left-panel, .mobile #game #top-bar #top-right-panel {
    padding: 10px;
    height: fit-content;
}

.mobile #game #game-status-component {
    flex: 1;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile #game .options {
    padding: 6px 8px;
    gap: 8px;
}

.mobile #game #top-bar {
    background-color: bisque;
    padding-bottom: 4px;
}