@import 'interfaces/game/styles.css';
@import 'interfaces/game/styles.medium.css';

@font-face {
    font-family: 'Inter';
    src: url(./media/fonts/Inter.ttf);
}

@font-face {
    font-family: 'VarelaRound';
    src: url(./media/fonts/VarelaRound.ttf);
}

body {
    margin: 0;
}

span, input {
    font-family: VarelaRound;
    user-select: none;
}

input {
    outline: none;
    border: none;
}

#app {
    height: 100vh;
}

#modal {
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 40px;
}

#mask {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 10;
}