@import 'interfaces/game/styles.css';
@import 'interfaces/game/styles.medium.css';

@font-face {
    font-family: 'Inter';
    src: url(./media/fonts/Inter.ttf);
}

@font-face {
    font-family: 'VarelaRound';
    src: url(./media/fonts/VarelaRound.ttf);
}

body {
    margin: 0;
}

span, input {
    font-family: VarelaRound;
    user-select: none;
}

input {
    outline: none;
    border: none;
}

#app {
    height: 100vh;
}